<html>

<head>
	<title>Parcel Sandbox</title>
	<meta charset="UTF-8" />
</head>

<body>
	

	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="src/index.js"></script>
	<link rel="stylesheet" href="./assests/styles.css">

	<div id="app">
		
		<div class="demo" :style="{'background-color':color}"></div>
		<div class="demo" :style="myStyle"></div>
		<div class="demo"></div>
		<br>
		<input type="text" v-model="color">
		<input type="text" v-model="width">
	

	</div>


</body>

</html>